
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<main id="main" style="padding-top:35px">

    <!-- ======= About Section ======= -->
    <div class="p-5">
        <h1 style="margin-top:24pt; margin-left:36pt; margin-bottom:6pt; text-indent:-18pt; line-height:115%; font-size:23pt;"><a name="_fuxmxfl7pfgz"></a>Privacy Policy for <a href="https://www.EventPro.cc" style="text-decoration:none;"><u><span style="color:#1155cc;">EventPro.cc</span></u></a></h1>
        <p style="margin-top:0pt; margin-bottom:0pt;">&nbsp;</p>
        <h2 style="margin-top:18pt; margin-bottom:4pt; line-height:115%; font-size:17pt;"><a name="_gme4nomp0ea1"></a>1. Introduction</h2>
        <p style="margin-top:12pt; margin-bottom:12pt;">EventPro.cc (&quot;we,&quot; &quot;our,&quot; or &quot;us&quot;) operates the EventPro mobile application and website at https://www.EventPro.cc (collectively, the &quot;Service&quot;). This Privacy Policy explains how we collect, use, disclose, and protect your personal information when you use our Service.</p>
        <p style="margin-top:12pt; margin-bottom:12pt;">By using our Service, you agree to the collection and use of information in accordance with this Privacy Policy. If you do not agree with this Privacy Policy, please do not use our Service.</p>
        <h2 style="margin-top:18pt; margin-bottom:4pt; line-height:115%; font-size:17pt;"><a name="_skjfyo6t8dwd"></a>2. Contact Information</h2>
        <p style="margin-top:12pt; margin-bottom:12pt;"><strong>Data Controller:</strong> EventPro.cc<br><strong>Email:</strong> cs@EventPro.org<br><strong>Address:</strong> KSA<br><strong>Phone:</strong> +1-555-0100</p>
        <p style="margin-top:12pt; margin-bottom:12pt;">For privacy-related inquiries, please contact us at: cs@EventPro.org</p>
        <h2 style="margin-top:18pt; margin-bottom:4pt; line-height:115%; font-size:17pt;"><a name="_zat7d7cp0h3s"></a>3. Information We Collect</h2>
        <h3 style="margin-top:14pt; margin-left:36pt; margin-bottom:4pt; text-indent:-18pt; line-height:115%; font-size:13pt;"><a name="_mpobkfgshdhf"></a>3.1 Personal Information</h3>
        <p style="margin-top:12pt; margin-bottom:12pt; text-indent:36pt;">We may collect the following personal information:</p>
        <p style="margin-top:12pt; margin-left:36pt; margin-bottom:12pt; text-indent:-18pt;">?<span style="width:11.36pt; font:7pt 'Times New Roman'; display:inline-block;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><strong>Account Information:</strong> Name, email address, phone number, address</p>
        <h3 style="margin-top:14pt; margin-left:36pt; margin-bottom:4pt; text-indent:-18pt; line-height:115%; font-size:13pt;"><a name="_ymd48712uwzg"></a>3.2 Technical Information</h3>
        <p style="margin-top:12pt; margin-left:36pt; margin-bottom:12pt; text-indent:-18pt;">?<span style="width:11.36pt; font:7pt 'Times New Roman'; display:inline-block;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><strong>Location Data:</strong> Approximate location based on GPS</p>
        <h3 style="margin-top:14pt; margin-left:36pt; margin-bottom:4pt; text-indent:-18pt; line-height:115%; font-size:13pt;"><a name="_ox8lv2panaz5"></a>3.3 Camera and Media</h3>
        <p style="margin-top:12pt; margin-left:36pt; margin-bottom:0pt; text-indent:-18pt;">?<span style="width:11.36pt; font:7pt 'Times New Roman'; display:inline-block;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><strong>QR Code Scanning:</strong> Camera access to scan guest QR codes</p>
        <p style="margin-top:0pt; margin-left:36pt; margin-bottom:12pt; text-indent:-18pt;">?<span style="width:11.36pt; font:7pt 'Times New Roman'; display:inline-block;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><strong>Photos:</strong> Images you take by camera to upload for events</p>
        <p style="margin-top:0pt; margin-left:36pt; margin-bottom:12pt;">&nbsp;</p>
        <h2 style="margin-top:18pt; margin-bottom:4pt; line-height:115%; font-size:17pt;"><a name="_tj5kao69u6cg"></a>4. How We Use Your Information</h2>
        <p style="margin-top:12pt; margin-bottom:12pt;">We use your information for the following purposes:</p>
        <h3 style="margin-top:14pt; margin-left:36pt; margin-bottom:4pt; text-indent:-18pt; line-height:115%; font-size:13pt;"><a name="_706b0ileodxh"></a>4.1 Service Provision</h3>
        <p style="margin-top:12pt; margin-left:36pt; margin-bottom:0pt; text-indent:-18pt;">?<span style="width:11.36pt; font:7pt 'Times New Roman'; display:inline-block;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Create and manage your account</p>
        <p style="margin-top:0pt; margin-left:36pt; margin-bottom:0pt; text-indent:-18pt;">?<span style="width:11.36pt; font:7pt 'Times New Roman'; display:inline-block;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Process and manage event invitations</p>
        <p style="margin-top:0pt; margin-left:36pt; margin-bottom:0pt; text-indent:-18pt;">?<span style="width:11.36pt; font:7pt 'Times New Roman'; display:inline-block;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Enable QR code scanning for guest verification</p>
        <p style="margin-top:0pt; margin-left:36pt; margin-bottom:12pt; text-indent:-18pt;">?<span style="width:11.36pt; font:7pt 'Times New Roman'; display:inline-block;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Provide customer support</p>
        <h3 style="margin-top:14pt; margin-left:36pt; margin-bottom:4pt; text-indent:-18pt; line-height:115%; font-size:13pt;"><a name="_7mr6j42v0fj3"></a>4.2 Service Improvement</h3>
        <p style="margin-top:12pt; margin-left:36pt; margin-bottom:0pt; text-indent:-18pt;">?<span style="width:11.36pt; font:7pt 'Times New Roman'; display:inline-block;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Analyze usage patterns to improve functionality</p>
        <p style="margin-top:0pt; margin-left:36pt; margin-bottom:0pt; text-indent:-18pt;">?<span style="width:11.36pt; font:7pt 'Times New Roman'; display:inline-block;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Develop new features and services</p>
        <p style="margin-top:0pt; margin-left:36pt; margin-bottom:0pt; text-indent:-18pt;">?<span style="width:11.36pt; font:7pt 'Times New Roman'; display:inline-block;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Conduct research and analytics</p>
        <p style="margin-top:0pt; margin-left:36pt; margin-bottom:12pt; text-indent:-18pt;">?<span style="width:11.36pt; font:7pt 'Times New Roman'; display:inline-block;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Ensure security and prevent fraud</p>
        <h3 style="margin-top:14pt; margin-left:36pt; margin-bottom:4pt; text-indent:-18pt; line-height:115%; font-size:13pt;"><a name="_cjeivfmi03zn"></a>4.3 Communication</h3>
        <p style="margin-top:12pt; margin-left:36pt; margin-bottom:0pt; text-indent:-18pt;">?<span style="width:11.36pt; font:7pt 'Times New Roman'; display:inline-block;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Send service-related notifications</p>
        <p style="margin-top:0pt; margin-left:36pt; margin-bottom:12pt; text-indent:-18pt;">?<span style="width:11.36pt; font:7pt 'Times New Roman'; display:inline-block;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Respond to your inquiries</p>
        <h2 style="margin-top:18pt; margin-left:18pt; margin-bottom:4pt; text-indent:-18pt; line-height:115%; font-size:17pt;"><a name="_33xi65lus4z"></a>5. Legal Basis for Processing (GDPR)</h2>
        <p style="margin-top:12pt; margin-bottom:12pt;">We process your personal data based on:</p>
        <p style="margin-top:12pt; margin-left:36pt; margin-bottom:0pt; text-indent:-18pt;">?<span style="width:11.36pt; font:7pt 'Times New Roman'; display:inline-block;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><strong>Contract Performance:</strong> To provide our services</p>
        <p style="margin-top:0pt; margin-left:36pt; margin-bottom:0pt; text-indent:-18pt;">?<span style="width:11.36pt; font:7pt 'Times New Roman'; display:inline-block;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><strong>Legitimate Interest:</strong> For analytics, security, and service improvement</p>
        <p style="margin-top:0pt; margin-left:36pt; margin-bottom:0pt; text-indent:-18pt;">?<span style="width:11.36pt; font:7pt 'Times New Roman'; display:inline-block;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><strong>Consent:</strong> For marketing communications and optional features</p>
        <p style="margin-top:0pt; margin-left:36pt; margin-bottom:12pt; text-indent:-18pt;">?<span style="width:11.36pt; font:7pt 'Times New Roman'; display:inline-block;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><strong>Legal Obligation:</strong> To comply with applicable laws</p>
        <h2 style="margin-top:18pt; margin-bottom:4pt; line-height:115%; font-size:17pt;"><a name="_dlo9cq98l0xc"></a>6. Information Sharing and Disclosure</h2>
        <p style="margin-top:12pt; margin-bottom:12pt;">We don&rsquo;t share your information or sell it to third parties.</p>
        <h2 style="margin-top:18pt; margin-left:18pt; margin-bottom:4pt; text-indent:-18pt; line-height:115%; font-size:17pt;"><a name="_nn6j85l9ww86"></a>7. Mobile App Permissions</h2>
        <h3 style="margin-top:14pt; margin-left:36pt; margin-bottom:4pt; text-indent:-18pt; line-height:115%; font-size:13pt;"><a name="_docmoo8m18hn"></a>7.1 Android Permissions</h3>
        <p style="margin-top:12pt; margin-left:36pt; margin-bottom:0pt; text-indent:-18pt;">?<span style="width:11.36pt; font:7pt 'Times New Roman'; display:inline-block;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><strong>Camera:</strong> To scan QR codes for guest verification</p>
        <p style="margin-top:0pt; margin-left:36pt; margin-bottom:0pt; text-indent:-18pt;">?<span style="width:11.36pt; font:7pt 'Times New Roman'; display:inline-block;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><strong>Internet/Network Access:</strong> To sync data with our servers and validate QR codes</p>
        <p style="margin-top:0pt; margin-left:36pt; margin-bottom:0pt; text-indent:-18pt;">?<span style="width:11.36pt; font:7pt 'Times New Roman'; display:inline-block;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><strong>Storage:</strong> To cache data and improve performance</p>
        <p style="margin-top:0pt; margin-left:36pt; margin-bottom:12pt; text-indent:-18pt;">?<span style="width:11.36pt; font:7pt 'Times New Roman'; display:inline-block;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><strong>Notifications:</strong> To send push notifications (with your permission)</p>
        <h3 style="margin-top:14pt; margin-left:36pt; margin-bottom:4pt; text-indent:-18pt; line-height:115%; font-size:13pt;"><a name="_ynyow43kcsu6"></a>7.2 IOS Permissions</h3>
        <p style="margin-top:12pt; margin-left:36pt; margin-bottom:0pt; text-indent:-18pt;">?<span style="width:11.36pt; font:7pt 'Times New Roman'; display:inline-block;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><strong>Camera:</strong> To scan QR codes for guest verification</p>
        <p style="margin-top:0pt; margin-left:36pt; margin-bottom:0pt; text-indent:-18pt;">?<span style="width:11.36pt; font:7pt 'Times New Roman'; display:inline-block;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><strong>Network Access:</strong> To sync data with our servers and validate QR codes</p>
        <p style="margin-top:0pt; margin-left:36pt; margin-bottom:0pt; text-indent:-18pt;">?<span style="width:11.36pt; font:7pt 'Times New Roman'; display:inline-block;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><strong>Notifications:</strong> To send push notifications (with your permission)</p>
        <p style="margin-top:0pt; margin-left:36pt; margin-bottom:12pt; text-indent:-18pt;">?<span style="width:11.36pt; font:7pt 'Times New Roman'; display:inline-block;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><strong>Photo Library:</strong> To upload event images (when you choose to)</p>
        <p style="margin-top:12pt; margin-bottom:12pt;">You can manage these permissions through your device settings at any time.</p>
        <h2 style="margin-top:18pt; margin-bottom:4pt; line-height:115%; font-size:17pt;"><a name="_7yin72rsf1w4"></a>8. Data Security</h2>
        <p style="margin-top:12pt; margin-bottom:12pt;">We implement appropriate technical and organizational measures to protect your personal information:</p>
        <p style="margin-top:12pt; margin-left:36pt; margin-bottom:0pt; text-indent:-18pt;">?<span style="width:11.36pt; font:7pt 'Times New Roman'; display:inline-block;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Encryption of data in transit and at rest</p>
        <p style="margin-top:0pt; margin-left:36pt; margin-bottom:0pt; text-indent:-18pt;">?<span style="width:11.36pt; font:7pt 'Times New Roman'; display:inline-block;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Regular security assessments</p>
        <p style="margin-top:0pt; margin-left:36pt; margin-bottom:0pt; text-indent:-18pt;">?<span style="width:11.36pt; font:7pt 'Times New Roman'; display:inline-block;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Access controls and authentication</p>
        <p style="margin-top:0pt; margin-left:36pt; margin-bottom:0pt; text-indent:-18pt;">?<span style="width:11.36pt; font:7pt 'Times New Roman'; display:inline-block;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Secure hosting environments</p>
        <p style="margin-top:0pt; margin-left:36pt; margin-bottom:12pt; text-indent:-18pt;">?<span style="width:11.36pt; font:7pt 'Times New Roman'; display:inline-block;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Regular backups and disaster recovery procedures</p>
        <h2 style="margin-top:18pt; margin-bottom:4pt; line-height:115%; font-size:17pt;"><a name="_8vplso2vz8ke"></a>9. Data Retention</h2>
        <p style="margin-top:12pt; margin-bottom:12pt;">We retain your personal information for as long as necessary to:</p>
        <p style="margin-top:12pt; margin-left:36pt; margin-bottom:0pt; text-indent:-18pt;">?<span style="width:11.36pt; font:7pt 'Times New Roman'; display:inline-block;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Provide our services</p>
        <p style="margin-top:0pt; margin-left:36pt; margin-bottom:0pt; text-indent:-18pt;">?<span style="width:11.36pt; font:7pt 'Times New Roman'; display:inline-block;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Comply with legal obligations</p>
        <p style="margin-top:0pt; margin-left:36pt; margin-bottom:0pt; text-indent:-18pt;">?<span style="width:11.36pt; font:7pt 'Times New Roman'; display:inline-block;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Resolve disputes</p>
        <p style="margin-top:0pt; margin-left:36pt; margin-bottom:12pt; text-indent:-18pt;">?<span style="width:11.36pt; font:7pt 'Times New Roman'; display:inline-block;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Enforce our agreements</p>
        <h2 style="margin-top:18pt; margin-bottom:4pt; line-height:115%; font-size:17pt;"><a name="_ko9tbe2ohxzw"></a>10. Your Rights and Choices</h2>
        <h3 style="margin-top:14pt; margin-left:36pt; margin-bottom:4pt; text-indent:-18pt; line-height:115%; font-size:13pt;"><a name="_ajzps3m5nz99"></a>10.1 General Rights</h3>
        <p style="margin-top:12pt; margin-left:36pt; margin-bottom:0pt; text-indent:-18pt;">?<span style="width:11.36pt; font:7pt 'Times New Roman'; display:inline-block;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><strong>Access:</strong> Request copies of your personal data</p>
        <p style="margin-top:0pt; margin-left:36pt; margin-bottom:0pt; text-indent:-18pt;">?<span style="width:11.36pt; font:7pt 'Times New Roman'; display:inline-block;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><strong>Correction:</strong> Update or correct inaccurate information</p>
        <p style="margin-top:0pt; margin-left:36pt; margin-bottom:0pt; text-indent:-18pt;">?<span style="width:11.36pt; font:7pt 'Times New Roman'; display:inline-block;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><strong>Deletion:</strong> Request deletion of your personal data</p>
        <p style="margin-top:0pt; margin-left:36pt; margin-bottom:0pt; text-indent:-18pt;">?<span style="width:11.36pt; font:7pt 'Times New Roman'; display:inline-block;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><strong>Portability:</strong> Receive your data in a portable format</p>
        <p style="margin-top:0pt; margin-left:36pt; margin-bottom:0pt; text-indent:-18pt;">?<span style="width:11.36pt; font:7pt 'Times New Roman'; display:inline-block;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><strong>Objection:</strong> Object to processing based on legitimate interests</p>
        <p style="margin-top:0pt; margin-left:36pt; margin-bottom:12pt; text-indent:-18pt;">?<span style="width:11.36pt; font:7pt 'Times New Roman'; display:inline-block;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><strong>Restriction:</strong> Request limitation of processing</p>
        <h3 style="margin-top:14pt; margin-left:36pt; margin-bottom:4pt; text-indent:-18pt; line-height:115%; font-size:13pt;"><a name="_juecpu9mj1ep"></a>10.2 How to Exercise Your Rights</h3>
        <p style="margin-top:12pt; margin-left:36pt; margin-bottom:0pt; text-indent:-18pt;">?<span style="width:11.36pt; font:7pt 'Times New Roman'; display:inline-block;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><strong>In-App:</strong> Use account settings to update information</p>
        <p style="margin-top:0pt; margin-left:36pt; margin-bottom:0pt; text-indent:-18pt;">?<span style="width:11.36pt; font:7pt 'Times New Roman'; display:inline-block;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><strong>WhatsApp Us:</strong> Send requests to our customer service via WhatsApp</p>
        <p style="margin-top:0pt; margin-left:36pt; margin-bottom:12pt; text-indent:-18pt;">?<span style="width:11.36pt; font:7pt 'Times New Roman'; display:inline-block;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><strong>Account Deletion:</strong> Contact us to delete your account</p>
        <p style="margin-top:12pt; margin-bottom:12pt;">We will respond to requests within 5 business days (or as required by applicable law).</p>
        <h2 style="margin-top:18pt; margin-bottom:4pt; line-height:115%; font-size:17pt;"><a name="_xsfkvq7xepls"></a>11. Cookies and Tracking</h2>
        <p style="margin-top:12pt; margin-bottom:12pt;">We use cookies and similar technologies to:</p>
        <p style="margin-top:12pt; margin-left:36pt; margin-bottom:12pt; text-indent:-18pt;">?<span style="width:11.36pt; font:7pt 'Times New Roman'; display:inline-block;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Remember your preferences</p>
        <p style="margin-top:12pt; margin-bottom:12pt;">You can control cookies through your browser settings. Disabling cookies may affect functionality.</p>
        <h2 style="margin-top:18pt; margin-bottom:4pt; line-height:115%; font-size:17pt;"><a name="_ohl9ld9zzn3r"></a>12. Third-Party Services</h2>
        <p style="margin-top:12pt; margin-bottom:12pt;">Our Service currently does not integrate with third-party services. If this changes in the future, we will update this policy accordingly.</p>
        <h2 style="margin-top:18pt; margin-bottom:4pt; line-height:115%; font-size:17pt;"><a name="_k7lplsyz6ork"></a>13. Children&apos;s Privacy</h2>
        <p style="margin-top:12pt; margin-bottom:12pt;">Our Service is not intended for children under 13 years old. We do not knowingly collect personal information from children under 13. If we become aware of such a collection, we will delete the information immediately.</p>
        <h2 style="margin-top:18pt; margin-bottom:4pt; line-height:115%; font-size:17pt;"><a name="_7sb4d8xxif34"></a>14. International Data Transfers</h2>
        <p style="margin-top:12pt; margin-bottom:12pt;">Currently, we do not transfer your personal data outside of Saudi Arabia. If this changes in the future, we will ensure appropriate safeguards are in place and update this policy accordingly.</p>
        <h2 style="margin-top:18pt; margin-bottom:4pt; line-height:115%; font-size:17pt;"><a name="_jigqcz5dnlid"></a>15. California Privacy Rights (CCPA)</h2>
        <p style="margin-top:12pt; margin-bottom:12pt;">California residents have additional rights:</p>
        <p style="margin-top:12pt; margin-left:36pt; margin-bottom:0pt; text-indent:-18pt;">?<span style="width:11.36pt; font:7pt 'Times New Roman'; display:inline-block;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Right to know what personal information is collected</p>
        <p style="margin-top:0pt; margin-left:36pt; margin-bottom:0pt; text-indent:-18pt;">?<span style="width:11.36pt; font:7pt 'Times New Roman'; display:inline-block;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Right to delete personal information</p>
        <p style="margin-top:0pt; margin-left:36pt; margin-bottom:0pt; text-indent:-18pt;">?<span style="width:11.36pt; font:7pt 'Times New Roman'; display:inline-block;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Right to opt-out of sale (we do not sell personal information)</p>
        <p style="margin-top:0pt; margin-left:36pt; margin-bottom:12pt; text-indent:-18pt;">?<span style="width:11.36pt; font:7pt 'Times New Roman'; display:inline-block;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Right to non-discrimination</p>
        <p style="margin-top:12pt; margin-bottom:12pt;">To exercise these rights, contact us at: cs@EventPro.org</p>
        <h2 style="margin-top:18pt; margin-bottom:4pt; line-height:115%; font-size:17pt;"><a name="_z0yy9gbh8j4d"></a>16. Changes to This Privacy Policy</h2>
        <p style="margin-top:12pt; margin-bottom:12pt;">We may update this Privacy Policy periodically. We will notify you of material changes by:</p>
        <p style="margin-top:12pt; margin-left:36pt; margin-bottom:0pt; text-indent:-18pt;">?<span style="width:11.36pt; font:7pt 'Times New Roman'; display:inline-block;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Posting the updated policy in the app</p>
        <p style="margin-top:0pt; margin-left:36pt; margin-bottom:0pt; text-indent:-18pt;">?<span style="width:11.36pt; font:7pt 'Times New Roman'; display:inline-block;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Sending email notifications</p>
        <p style="margin-top:0pt; margin-left:36pt; margin-bottom:12pt; text-indent:-18pt;">?<span style="width:11.36pt; font:7pt 'Times New Roman'; display:inline-block;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Displaying prominent notices</p>
        <p style="margin-top:12pt; margin-bottom:12pt;">Continued use of our Service after changes constitutes acceptance of the updated policy.</p>
        <h2 style="margin-top:18pt; margin-bottom:4pt; line-height:115%; font-size:17pt;"><a name="_ifxmzv4vk1q4"></a>17. Dispute Resolution</h2>
        <p style="margin-top:12pt; margin-bottom:12pt;">For privacy-related disputes:</p>
        <ol type="1" style="margin:0pt; padding-left:0pt;">
            <li style="margin-top:12pt; margin-left:32.17pt; padding-left:3.83pt;">Contact us directly at cs@EventPro.org</li>
            <li style="margin-left:32.17pt; padding-left:3.83pt;">We will attempt to resolve the issue within 5 days</li>
            <li style="margin-left:32.17pt; margin-bottom:12pt; padding-left:3.83pt;">If unresolved, you may file complaints with relevant data protection authorities</li>
        </ol>
        <h2 style="margin-top:18pt; margin-bottom:4pt; line-height:115%; font-size:17pt;"><a name="_pbhqi9nzvmr2"></a>18. Governing Law</h2>
        <p style="margin-top:12pt; margin-bottom:12pt;">This Privacy Policy is governed by the laws of KSA, without regard to conflict of law principles.</p>
        <div align="center" style="margin-left:36pt;">
            <hr size="2" align="center" style="width:100%;">
        </div>
        <p style="margin-top:12pt; margin-bottom:12pt;">For questions about this Privacy Policy, contact us at:</p>
        <p style="margin-top:12pt; margin-left:36pt; margin-bottom:0pt; text-indent:-18pt;">?<span style="width:11.36pt; font:7pt 'Times New Roman'; display:inline-block;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><strong>Email:</strong> cs@EventPro.org</p>
        <p style="margin-top:0pt; margin-left:36pt; margin-bottom:0pt; text-indent:-18pt;">?<span style="width:11.36pt; font:7pt 'Times New Roman'; display:inline-block;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><strong>Address:</strong> Saudi Arabia, Riyadh ZIP code 13242</p>
        <p style="margin-top:0pt; margin-left:36pt; margin-bottom:12pt; text-indent:-18pt;">?<span style="width:11.36pt; font:7pt 'Times New Roman'; display:inline-block;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><strong>Phone:&nbsp;</strong>+1-555-0100</p>
        <p style="margin-top:0pt; margin-bottom:0pt;">&nbsp;</p>
    </div>
</main>