@model EventPro.Web.Models.LoginModel
@{
    Layout = "~/Views/Shared/_Login.cshtml";
}
<body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <img src="~/assets/img/EventPro.jpg" width="125px" height="125px" />
        </div>
        <!-- /.login-logo -->
        <div class="card">
            <div class="card-body login-card-body">
                <p class="login-box-msg">Complete your transaction (TEST)</p>
                @if (TempData["message"] != null)
                {
                    <div class="alert alert-success" role="alert">
                        <strong>Error!</strong> @TempData["message"].
                    </div>
                }
                @using (Html.BeginForm("Index", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <div class="form-group">
                        <label for="exampleInputEmail1">Produt Name</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Prouct Name" value="Product A" disabled>
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Price</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Price" value="45 SAR" disabled>
                    </div>
                    <div class="row">
                        <!-- /.col -->
                        <div class="col-4">
                            <button type="submit" class="btn btn-primary btn-block">Pay Now</button>
                        </div>
                        <!-- /.col -->
                    </div>
                }

            </div>
            <!-- /.login-card-body -->
        </div>

        <p class="mb-0">
            <a href="/" class="text-center">Back to Application</a>
        </p>
    </div>
    <!-- /.login-box -->
    <!-- jQuery -->
    <script src="../../plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="../../dist/js/adminlte.min.js"></script>

</body>