
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main id="main" style="padding-top:35px">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
        <div class="container">

            <h3>TERMS &amp; CONDITIONS</h3>
            <p style="padding-left: 40px;"><strong>1. Introduction</strong></p>
            <p style="padding-left: 40px; text-align: justify;">These terms and conditions govern your use of our website; by using our website, you accept these terms and conditions in full. If you disagree with these terms and conditions or any part of these terms and conditions, you must not use our website.</p>
            <p style="padding-left: 40px;"><strong>2. Licence to use website</strong></p>
            <p style="padding-left: 40px; text-align: justify;">Unless otherwise stated, we own the intellectual property rights on the website and material on the website. Subject to the license below, all these intellectual property rights are reserved.<br />You may view, download for caching purposes only, and print pages from the website for your own personal use, subject to the restrictions set out below and elsewhere in these terms and conditions.</p>
            <p style="padding-left: 40px;">You must not:</p>
            <ul>
                <li style="list-style-type: none;">
                    <ol>
                        <li style="text-align: justify;">republish material from this website (including republication on another website)</li>
                        <li style="text-align: justify;">sell, rent or sub-license material from the website;</li>
                        <li style="text-align: justify;">show any material from the website in public;</li>
                        <li style="text-align: justify;">reproduce, duplicate, copy or otherwise exploit material on our website for a commercial purpose;</li>
                        <li style="text-align: justify;">edit or otherwise modify any material on the website.</li>
                    </ol>
                </li>
            </ul>
            <p style="padding-left: 40px;"><strong>3. Acceptable use</strong></p>
            <p style="text-align: justify; padding-left: 40px;">You must not use our website in any way that causes, or may cause, damage to the website or impairment of the availability or accessibility of the website; or in any way which is unlawful, illegal, fraudulent or harmful, or in connection with any unlawful, illegal, fraudulent or harmful purpose or activity.<br />You must not use our website to copy, store, host, transmit, send, use, publish or distribute any material which consists of (or is linked to) any spyware, computer virus, Trojan horse, worm, keystroke logger, rootkit or other malicious computer software.<br />You must not conduct any systematic or automated data collection activities (including without limitation scraping, data mining, data extraction and data harvesting) on or in relation to our website without our express written consent.<br />You must not use our website for any purposes related to marketing without our express written consent.</p>
            <p style="padding-left: 40px;"><strong>4. Restricted access</strong></p>
            <p style="padding-left: 40px; text-align: justify;">Access to certain areas of our website is restricted. We reserve the right to restrict access to other areas of our website, or indeed our whole website, at our discretion.<br />If we provide you with a user ID and password to enable you to access restricted areas of our website or other content or services, you must ensure that that user ID and password is kept confidential.<br />We may disable your user ID and password in our sole discretion without notice or explanation.<br />&nbsp;</p>
            <p style="padding-left: 40px;"><strong>5. Limited warranties</strong></p>
            <p style="padding-left: 40px; text-align: justify;">Whilst we endeavour to ensure that the information on this website is correct, we do not warrant its completeness or accuracy; nor do we commit to ensuring that the website remains available or that the material on the website is kept up-to-date.<br />To the maximum extent permitted by applicable law we exclude all representations, warranties and conditions relating to this website and the use of this website (including, without limitation, any warranties implied by law of satisfactory quality, fitness for purpose and/or the use of reasonable care and skill).</p>
            <p style="padding-left: 40px;"><strong>6. Limitations of liability</strong></p>
            <p style="padding-left: 40px; text-align: justify;">Nothing in these terms and conditions (or elsewhere on our website) will exclude or limit our liability for fraud, for death or personal injury caused by our negligence, or for any other liability which cannot be excluded or limited under applicable law.<br />Subject to this, our liability to you in relation to the use of our website or under or in connection with these terms and conditions, whether in contract, tort (including negligence) or otherwise, will be limited as follows:</p>
            <ol>
                <li style="list-style-type: none;">
                    <ol>
                        <li style="text-align: justify;">we will not be liable for any consequential, indirect or special loss or damage;</li>
                        <li style="text-align: justify;">we will not be liable for any loss of profit, income, revenue, anticipated savings, contracts, business, goodwill, reputation, data, or information;</li>
                        <li style="text-align: justify;">we will not be liable for any loss or damage arising out of any event or events beyond our reasonable control;&nbsp;</li>
                    </ol>
                </li>
            </ol>
            <p></p>
            <p style="padding-left: 40px;"><strong>7. Indemnity</strong></p>
            <p style="padding-left: 40px;">You hereby indemnify us and undertake to keep us indemnified against any losses, damages, costs, liabilities and expenses (including without limitation legal expenses and any amounts paid by us to a third party in settlement of a claim or dispute on the advice of our legal advisers) incurred or suffered by us arising out of any breach by you of any provision of these terms and conditions.<br />&nbsp;</p>
            <p style="padding-left: 40px;"><strong>8. Breaches of these terms and conditions</strong></p>
            <p style="padding-left: 40px;">Without prejudice to our other rights under these terms and conditions, if you breach these terms and conditions in any way, we may take such action as we deem appropriate to deal with the breach, including suspending your access to the website, prohibiting you from accessing the website, blocking computers using your IP address from accessing the website, contacting your internet service provider to request that they block your access to the website and/or bringing court proceedings against you.<br />&nbsp;<br /><strong>9. Variation</strong></p>
            <p style="padding-left: 40px;">We may revise these terms and conditions from time-to-time. Revised terms and conditions will apply to the use of our website from the date of the publication of the revised terms and conditions on our website. Please check this page regularly to ensure you are familiar with the current version.<br />&nbsp;<br /><strong>10. Assignment</strong></p>
            <p style="padding-left: 40px;">We may transfer, sub-contract or otherwise deal with our rights and/or obligations under these terms and conditions without notifying you or obtaining your consent.<br />You may not transfer, sub-contract or otherwise deal with your rights and/or obligations under these terms and conditions.<br />&nbsp;<br /><strong>11. Severability</strong></p>
            <p style="padding-left: 40px;">If a provision of these terms and conditions is determined by any court or other competent authority to be unlawful and/or unenforceable, the other provisions will continue in effect. If any unlawful and/or unenforceable provision would be lawful or enforceable if part of it were deleted, that part will be deemed to be deleted, and the rest of the provision will continue in effect.<br />&nbsp;<br /><strong>12. Exclusion of third party rights</strong></p>
            <p style="padding-left: 40px;">These terms and conditions are for the benefit of you and us, and are not intended to benefit any third party or be enforceable by any third party. The exercise of our and your rights in relation to these terms and conditions is not subject to the consent of any third party.<br />&nbsp;<br /><strong>13. Law and jurisdiction</strong></p>
            <p style="padding-left: 40px;">These terms and conditions will be governed by and construed in accordance with KSA law, and any disputes relating to these terms and conditions will be subject to the jurisdiction of the courts of the KSA.<br />&nbsp;<br /><strong>14. Our details</strong></p>
            <p style="padding-left: 40px;">The full name of our company is EventPro.<br />We are registered by the Ministry of Commerce, KSA and we hold 1010790052 as commercial registration number.<br />Our registered address is PO Box 11942, King Salman Street, Riyadh, Saudi Arabia<br />You can contact us by email to cs@EventPro.org<br /><br />&nbsp;</p>
            <p style="padding-left: 40px;"><br />&nbsp;</p>
        </div>
    </section>
</main>
