name: .NET 7 CI/CD to Windows VM

on:
  push:
    branches: [ "master" ]

jobs:
  build-and-deploy:
    runs-on: [self-hosted,self-hosted, Windows, X64 ,myinviteazuread]

    steps:
    - uses: actions/checkout@v3

    - name: Restore
      run: dotnet restore

    - name: Build
      run: dotnet build --configuration Release

    - name: Publish
      run: dotnet publish --configuration Release -o C:\inetpub\wwwroot\myapp
